*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: arial
}

* {
    margin-bottom: 0
}

body,
html {
    background: #fafafa;
    color: #450c13;
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.content-area {
    padding: 1.5em;
    margin: auto;
    max-width: 800px
}

a {
    color: #921c2b
}

a:focus,
a:hover {
    color: #c12f48;
    outline: solid 2px
}

p {
    margin: 0 0 1.25em
}

h1 {
    margin-bottom: .5em
}

code {
    font-weight: 700;
    background: #eee
}

p:last-child {
    margin: 0
}

details,
details div {
    margin-top: .5em
}

h1,
h2,
h3 {
    margin-top: 0
}

h1+p,
h1+p:last-child,
h2+p,
h2+p:last-child,
h3+p,
h3+p:last-child {
    margin-top: 1.25em
}

aside,
header,
main {
    border-bottom: 1px solid
}

.nav-search {
    max-width: 800px;
    padding: 1.125em;
    margin: auto
}

.nav-search li {
    flex: 1 0;
    text-align: center
}

.nav-search nav {
    flex: 1 0;
    margin-bottom: 1.25em
}

.nav-search ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0 0 0 -.25em
}

.nav-search a {
    display: block;
    padding: .45em .5em;
    border: 1px solid;
    margin: 0 .25em
}

@media screen and (min-width:600px) {
    .nav-search {
        display: flex;
        align-items: center
    }

    .nav-search nav {
        margin: 0
    }

    .nav-search>div {
        flex-grow: 0;
        padding-left: 1em
    }
}

button,
input,
select,
textarea {
    border-radius: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: normal;
    margin: 0;
    overflow: visible;
    text-transform: none
}

input::-ms-clear {
    display: none;
    height: 0;
    width: 0
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    font-family: inherit;
    font-size: inherit
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none
}

[role=search] {
    border: 1px solid #565656;
    display: block;
    padding-right: 2.5em;
    position: relative
}

[role=search] svg {
    display: block;
    fill: #fff
}

[role=search]>input[type=search] {
    border: 0;
    border-right: 1px solid #565656;
    padding: .5em;
    width: 100%
}

[role=search]>[type=submit] {
    background: #a0001e;
    border: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.5em
}

[role=search]>[type=submit]:focus,
[role=search]>[type=submit]:hover,
[role=search]>input[type=search]:focus {
    box-shadow: inset 0 0 0 1px #a0001e;
    outline: #a0001e solid 1px;
    outline-offset: 0
}

[role=search]>input[type=search]:focus {
    border-right-color: #450c13
}

[role=search]>[type=submit]:focus,
[role=search]>[type=submit]:hover {
    background: #450c13
}

[role=search]>[type=submit]:focus svg,
[role=search]>[type=submit]:hover svg {
    fill: #fff
}

/**
* For browsers that support focus within,
* show off an outline around each of the different
* landmarks in the document.
*/
header:focus-within,
footer:focus-within,
main:focus-within,
aside:focus-within,
nav:focus-within {
    box-shadow: inset 0 0 0 4px blue;
}