body {
  font-family: ui-monospace, monospace;
  line-height: 1.6;
  max-width: 65ch;
  margin: auto;
  color: #222;
  background: #fafafa;
  padding: 2rem;
}

h1,
h2,
h3 {
  line-height: 1.25;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  /* margin-top: 2rem; */
  margin-bottom: 0.75rem;
}

a {
  color: #2563eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  color: #222;
  background-color: #fafafa;
}

ul,
ol {
  padding-left: 1.25rem;
}

li {
  margin-bottom: 0.5rem;
}

section {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

details {
  margin-bottom: 1rem;
}
